.formWrapper {
  background-color: $white;
  width: 400px;
  height: 400px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding: 30px;


  .form-inputs {
    margin-top: 20px;
  }

  .form-actions {
    text-align: center;
    margin: 20px 0;
  }
}